@tailwind base;
@tailwind components;
@tailwind utilities;

.circle {
  @apply fill-none stroke-[1px];
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

h3 {
  @apply text-[13px] font-bold tracking-[5px] text-[#161932];
}
/* Firefox */
input[type='number'] {
  appearance: none; /* textfield also works! */
}

input[type='number']:focus,
input[type='number']:hover {
  appearance: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  @apply absolute right-[16px] top-[14px] m-0 h-[20px] w-[14px] appearance-none bg-[url('../public/assets/arrows.svg')] bg-no-repeat object-cover opacity-100;
}

input:hover::-webkit-inner-spin-button {
  @apply cursor-pointer bg-[url('../public/assets/arrowsHover.svg')] opacity-100;
}

input input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.buttonRing {
  @apply rounded-full outline-1 outline-offset-[5px] outline-[#EFF1FA] hover:outline;
}

.divLine {
  @apply mt-[24px] w-full border-b border-[[#161932]/10];
}
