@tailwind base;
@tailwind components;
@tailwind utilities;

.circle {
  @apply fill-none stroke-[#F87070] stroke-[1px];
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

/* Chrome, Safari, Edge, Opera */

/* Firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  @apply absolute right-[16px] top-[14px] m-0 h-[20px] w-[14px] appearance-none bg-[url('../public/assets/arrows.svg')] bg-no-repeat object-cover opacity-100;
}
input::-webkit-outer-spin-button:hover,
input::-webkit-inner-spin-button:hover {
  @apply bg-[url('../public/assets/arrowsHover.svg')] opacity-100;
}

input input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
